<!--=== Start Header ===-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="components/header/header.css">

<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="#/">
            <img src="images/logo_mds.png" alt="Logo" class="img-responsive">
        </a>
        <!-- End Logo -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav navbar-fixed-top">
                
                <li ng-click="changeRoute(menu.url)" class="mega-menu-fullwidth" ng-repeat="menu in menus">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        {{menu.name}}
                    </a>
                </li>

            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->

<!-- For header animation -->
<script type="text/javascript">
    var shrinkHeader = 300;
    $(window).scroll(function() {
    var scroll = getCurrentScroll();
      if ( scroll >= shrinkHeader ) {
           $('.header').addClass('shrink');
           $('.logo img').addClass('shrink');
        }
        else {
            $('.header').removeClass('shrink');
            $('.logo img').removeClass('shrink');
        }
    });
    function getCurrentScroll() {
        return window.pageYOffset || document.documentElement.scrollTop;
    }
</script>