<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="components/footer/footer.css">

<div class="col-md-12 padding-zero margin-buttom">
	<footer class="footer page-footer">
		<div class="footer-left">
			<p class="footer-company-name">MyDreamStore &copy; 2016</p>
			<i class="fa fa-facebook-official" aria-hidden="true"></i>
		    <i class="fa fa-github" aria-hidden="true"></i>
		 	<i class="fa fa-google-plus-official" aria-hidden="true"></i>
		   	<i class="fa fa-twitter" aria-hidden="true"></i>
		   	<i class="fa fa-linkedin" aria-hidden="true"></i>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p>
					<span>G-2 NA Star paradise, Ejipura Bangalore, Karnataka - 560047, India 
					</span> 
				</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>(+91) 9643478959 </p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				MyDreamStore is helping you to find the status of your tasks.
			</p>
			<br> 
		</div>
	</footer>
</div>